@font-face {
  font-family: "HindRegular";
  src: local("HindRegular"), url("./fonts/Hind-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HindSemiBold";
  src: local("HindSemiBold"),
    url("./fonts/Hind-SemiBold.ttf") format("truetype");
}

.root {
  position: relative;
  width: 375px;
  height: 768px;

  background: white;
  font-family: "HindRegular", sans-serif;
  font-style: normal;
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

.signin {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  height: 100%;
  padding: 33px;
}

.signin h2 {
  font-family: "HindSemiBold", sans-serif;
  font-size: 35px;
  color: #025bbb;
  margin-top: 100px;
}

.signin label {
  font-size: 12px;
  margin-top: 24px;
}

.signin input {
  font-family: "HindSemiBold", sans-serif;
  font-size: 14px;
  margin-top: 18px;
  border: none;
  border-bottom: 1px solid #768692;
}

.signin .action-row {
  display: flex;
  flex-direction: row;
  margin-top: 105px;
 /* width: 100%; */
}

.signin button#signin-button {
  color: white;
  background-color: #025bbb;
  border-radius: 15px;
  width: 201px;
  height: 59px;
  font-family: "HindSemiBold", sans-serif;
  font-size: 22px;
  margin: auto;
  filter: drop-shadow(0 0 200px #025bbb);
}


.signin button#signin-button:disabled {
  background-color: grey;
}

.storage-area header,
.box-details header,
.shopping-list header {
  background-color: #025bbb;
  color: white;
  min-height: 100px;
}

.storage-area header h1,
.box-details header h1,
.shopping-list header h1 {
  font-family: "HindSemiBold", sans-serif;
  font-size: 22px;
  line-height: 29px;

  text-align: center;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 92px;
  padding-right: 92px;
  margin: 0;
}

.box-details header button.full {
  position: absolute;
  right: 26px;
  top: 26px;

  padding: 0;
  width: 48px;
  height: 48px;

  font-family: "HindSemiBold", sans-serif;
  font-size: 14px;
  line-height: 14px;

  background-color: white;
  color: #025bbb;
  border: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 50%;
}

.box-details .item {
  display: flex;
}

.box-details,
.storage-area,
.shopping-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.storage-area main,
.box-details main,
.shopping-list main {
  flex: 1;
  position: relative;
  margin-bottom: 104px;
}

.shopping-list main {
  flex: 1;
  position: relative;
}

.storage-area main .scroll,
.box-details main .scroll,
.shopping-list main .scroll {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 17px;
}

.storage-area main .box,
.shopping-list main .box {
  border: 1px solid rgba(2, 91, 187, 0.25);
  border-radius: 12px;
  margin-bottom: 17px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
}

.box-details main .item {
  border: 1px solid rgba(2, 91, 187, 0.25);
  border-radius: 12px;
  margin-bottom: 17px;
  margin-left: 25px;
  margin-right: 25px;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 18px;
  padding-bottom: 6px;
  position: relative;
}

.storage-area main .box {
  min-height: 70px;
  cursor: pointer;
}

.shopping-list main .box {
  flex-direction: column;
  padding: 16px;
}

.shopping-list main .box h2 {
  font-size: 16px;
  line-height: 130%;
  margin-top: 0;
}

.storage-area main .box svg {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 27px;
  top: 23px;
  color: #025bbb;
}

.storage-area main .box .display-name {
  font-size: 14px;
  line-height: 130%;
  padding-left: 74px;
  padding-right: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.box-details main .item .display-name {
  font-size: 14px;
  line-height: 130%;
}

.box-details main .item .controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-details main .item .quantity {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
  line-height: 130%;
  color: #025bbb;
}

.box-details main .item .quantity .actual-quantity-bad {
  color: #768692;
}

.box-details main .item button.item-info {
  padding: 0;
  margin-right: 76px;
  margin-left: 2px;
  width: 24px;
  height: 24px;

  border: 0;
  background-color: inherit;
  color: #025bbb;
  flex-shrink: 0;
}

.box-details main .item button.item-info svg {
  width: 24px;
  height: 24px;
}

.box-details main .item button.change-quantity {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(2, 91, 187, 0.2);
  border-radius: 50%;
  padding: 0;
  background-color: inherit;
  color: black;
  margin-left: 13px;
  flex-shrink: 0;
}

.box-details main .item button.change-quantity svg {
  width: 20px;
  height: 20px;
}

.storage-area footer,
.shopping-list footer,
.box-details footer {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;

  border-top: 1px solid rgba(160, 160, 160, 0.25);
  box-shadow: 0px 4px 120px rgba(193, 193, 197, 0.15);
  height: 104px;
}

.storage-area footer nav,
.shopping-list footer nav,
.box-details footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-details footer button.save {
  margin-left: 24px;
  margin-right: 24px;
  height: 56px;
  background: #025bbb;
  color: white;
  border-radius: 15px;
  flex-grow: 1;
}

footer .navicon {
  margin-left: 24px;
  margin-right: 24px;
  height: 56px;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px 5px 10px;
  height: 20px;
  fill: currentColor;
  color: #999999;
  font-size: 9px;
}

footer nav .navicon:hover,
footer nav .navicon.active {
  color: #025bbb;
}

footer nav .navicon svg {
  fill: currentColor;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  position: relative;
}

.item-details main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-details button.back,
.box-details button.back,
.shopping-list button.back {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 26px;
  top: 26px;
  border: 1px solid rgba(2, 91, 187, 0.2);
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-color: white;
}

.box-details button.back {
  color: #025bbb;
}

.box-details button.back svg,
.item-details button.back svg {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 12px;
  top: 12px;
}

.item-details img.item-photo {
  max-width: 273px;
  max-height: 290px;
  border: 1px solid #cdcdcd;
  border-radius: 15px;
}

.item-details h1,
.item-details h2 {
  font-family: "HindSemiBold", sans-serif;
  font-size: 20px;
  line-height: 26px;

  text-align: center;

  color: #191d31;
}
.item-details h1 {
  margin-bottom: 28px;
}
.item-details h2 {
  margin-bottom: 12px;
}

.item-details dl.details {
  width: 289px;
  margin: 0;
}

.item-details dt {
  font-family: "HindSemiBold", sans-serif;
  font-size: 15px;
  line-height: 14px;
  border-top: 1px solid rgba(2, 91, 187, 0.6);
  padding-top: 19px;

  padding-left: 8px;
  padding-right: 8px;
  color: #525252;
}

.item-details dd {
  font-size: 15px;
  line-height: 15px;

  margin: 0;
  padding-top: 9px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 19px;

  color: #6b6b6b;
}

.disclaimer-popup,
.confirm-reset-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 295px;
  width: calc(375px - 26px); /* Update when .root width changes */
  z-index: 9;

  padding: 10px;
  padding-bottom: 33px;

  border: 3px solid #f1f1f1;
  border-radius: 6px 6px 0 0;

  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer-popup h2,
.confirm-reset-popup h2 {
  font-family: "HindSemiBold", sans-serif;
  font-size: 18px;
  line-height: 25px;

  margin-bottom: 11px;
  padding-top: 50px;
  border-top: 4px solid #025bbb;
}

.disclaimer-popup .message,
.confirm-reset-popup .message {
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.disclaimer-popup .confirm-yes,
.confirm-reset-popup .confirm-yes,
.confirm-reset-popup .confirm-no {
  width: 230px;
  height: 50px;
  border-radius: 15px;
  color: white;

  font-family: "HindSemiBold", sans-serif;
  font-size: 18px;
  letter-spacing: 0.06em;
}

.disclaimer-popup .confirm-yes,
.confirm-reset-popup .confirm-yes {
  background: #025bbb;
  margin-top: 13px;
}

.confirm-reset-popup .confirm-no {
  background: rgba(2, 91, 187, 0.5);
  margin-top: 13px;
}

.modal-overlay {
  z-index: 8;
  background-color: #2c373b;
  opacity: 30%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
